/* css reset */
*,
body {
    box-sizing: border-box;
    color: #fff;
}

html{
    min-height: 100%;
    /* min-height: 100%; rather than height: 100%; and your gradient background will extend the entire height of the content without repeating, even if the content is scrollable. */
    margin: 0;
	padding: 0;
}

/* nastavenie pozadia uvodnej obrazovky */

body {
    background-image: linear-gradient(to bottom, #615dad,#ffc8da);
    font-family:"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    

    /* toto je druha moznost, aby sa pozadie neopakovalo a pokryvalo celu plochu
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;  */
    
}

/* styly pre uvodnu obrazovku */

.game-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    max-width: 630px;
    margin: 5rem auto;
    background-color: #283e50;
    border-radius: 20px 20px 0 0;
}

.game-block__intro {
    padding: 2rem 3rem;
    text-align: center;
}

.game-block__description {
    font-size: 1.4rem;
    line-height: 1.5;
    

}

.game-block__img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.game-block__title,
.game-board__title {
    font-family: 'Lobster';
    font-size: 3rem;
    text-align: center;
}


/* styly pre tlacitka na uvodnej stranke */

.game-block__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.game-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 1.55rem;
    font-weight: 400;

}

a.game-block__button{
    width: 100%;
}

/* specialne styly pre konkretne tlacitka na uvodnej stranke*/

.game-block__button:hover {
    transition: all 0.3s ease-in-out
}

.game-block__button--rules {
    background-color: #1fcca4;
}

.game-block__button--rules:hover {
    background-color:#1cbb96;  
}

.game-block__button--play {
    background-color: #0197f6;
}

.game-block__button--play:hover{
    background-color: #0090e9;
    
}


/* ---------------------------------------------
/* styly pre sekciu hracej plochy */
/*--------------------------------------------- */



.game-board {
    max-width: 80vmin;
    margin: 0 auto;
}

.game-board__title {
    font-size: 3.7rem;
}

/* styly pre info panel */

.game-board__panel-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


.game-board__status {
    display: flex;
}


.game-board__player {
    text-transform: uppercase;
    font-size: 1.35rem;
    font-weight: 500;
    margin: 0 1.2rem 0 0;
}

/* Styly pre ovladaci panel hracej plochy  */


.game-board__controls {
    display: flex;
    gap: 0.5rem;
}

.game-board__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 2.835rem;
    padding: 0.35rem;
    width: 100%;
}

.game-board__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.game-board__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.game-board__button:hover {
transition: all 0.3s ease-in-out;
}


.game-board__button--home{
    background-color: #1fcca4;
}


.game-board__button--home:hover {
    background-color:#1cbb96;
}



.game-board__button--restart {
    background-color: #0197f6;
}

.game-board__button--restart:hover{
    background-color: #0090e9;  
}

/* Hracia plocha  - styly pre samotnu plochu */

.game-board__grid {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    background-image: linear-gradient(to bottom, #8a7fc7, #f8d1e3);
    aspect-ratio: 1/1;
    border: 1px solid black;

}

.game-board__cell {
    border: 1px solid black;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.game-board__cell:focus,
.game-board__cell:hover {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    mix-blend-mode: hard-light;
    cursor: pointer;
}


/* Vytvorenie tried pre hracov */


.board__field--circle{
    background: url(pictures/circle-black.svg) center / 80% 80% no-repeat;
}

.board__field--cross{
    background: url(pictures/cross-black.svg) center / 80% 80% no-repeat;
    color: black;
}


/* Vytvorenie animacie pre hru */

@keyframes scaleIn {
    0% {
      transform: scale(0.2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

.board__field--circle,
.board__field--cross {
  animation: scaleIn 0.15s ease-out;
  transform-origin: center;
}