*,
body {
    box-sizing: border-box;
    color: #fff;
}
html{
    min-height: 100%;
    /* min-height: 100%; rather than height: 100%; and your gradient background will extend the entire height of the content without repeating, even if the content is scrollable. */
}

body {
    background-image: linear-gradient(to bottom, #615dad,#ffc8da);
    font-family:"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    

    /* toto je druha moznost, aby sa pozadie neopakovalo a pokryvalo celu plochu
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;  */
    
}

.game-block {
    max-width: 630px;
    margin: 18rem auto;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    background-color: #283e50;
    border-radius: 20px 20px 0 0;
}

.game-block__intro {
    padding: 2rem 3rem;
    text-align: center;
}

.game-block__description {
    font-size: 1.4rem;
    line-height: 1.5;
    

}

.game-block__img{
    max-width: 100%;
    border-radius: 20px 20px 0 0;
}

.game-block__title {
    font-family: 'Lobster';
    font-size: 3rem;
    text-align: center;
}


/* styly pre tlacitka */

.game-block__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.game-block__button {
    text-decoration: none;
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 1.55rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

}

a.game-block__button{
    width: 100%;
}

.game-block__button:hover {
    transition: all 0.3s ease-in-out
}

.game-block__button--rules{
    background-color: #1fcca4;
}

.game-block__button--rules:hover {
    background-color:#1cbb96;
    
}

.game-block__button--play {
    background-color: #0197f6;
}

.game-block__button--play:hover{
    background-color: #0090e9;
    
}